*.asv
G2.png
G2.txt
G4.png
G4.txt
G8.png
G8_warmstart_withG2results.png
GBO.m
GBO_plots_all_experiments.m
GBO_plots_experiments_server.m
GBO_plots_one_experiment.m
GBO_plots_server.m
LICENSE
Panda_demo.gif
README.md
defaultopt.m
demo.m
draft.m
gpml/
plot_EvalsPoster.m
plot_results.m
plot_results_2.m
plot_results_3.m
plot_results_4.m
plot_results_base.m
q6u6.mat
rup_kel_1.m
rup_kel_2.m
samplef.m
server_data/
tmp/
